<mat-card>

  <mat-card-header *ngIf="iconTitle || cardTitle || subtitle">
    <mat-icon *ngIf="iconTitle" mat-card-avatar>{{ iconTitle }}</mat-icon>
    <mat-card-title *ngIf="cardTitle">{{ cardTitle }}</mat-card-title>
    <mat-card-subtitle *ngIf="subtitle">{{ subtitle }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>

</mat-card>
